@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <span>@Html.ActionLink("Click to create a short URL", "Create", "ShortUrls")</span>
</div>
